body{
	margin: 0;
	padding: 0;
}

ul{
	margin: 0;
	padding: 0;

	list-style: none;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

#wrapper{
	position: relative;
	width: 97%;
	height: 700px;
	margin: 10px auto;

	border: 5px solid #eee;
}

#chatWin{
	float: left;
	
	width: 80%;
	height: 570px;
	padding: 10px;

}

#history {
	width: 98%;
	height: 79%;
}

#onlineList {
	float: right;

	height: 570px;
	width: 16%;
	padding: 10px;

}

#text {
	position: absolute;
	bottom: 0;
	padding: 10px;

	width: 98%;

}

#textbox {
	float: left;

	height: 100px;
	width: 80%;
}

#send {
	float: right;

	width: 18%;
	height: 100px;
}

#text span {
	display: inline-block;
	padding: 5px;



}