body{
	margin: 0;
	padding: 0;
}

#wrapper{
	position: relative;
	height: 400px;
}

#loginBox{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 500px;
	height: 250px;

	border: 1px solid #eee;
}

.title{
	display: block;
	padding: 5px;

	background-color: #eee;
}

#form{
	padding: 24px;

	text-align: center;
}

#msg{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;

	width: 100px;
	padding: 5px 10px;
	display: block;

	text-align: center;

	background-color: #ddd;
}